extends ../layout 

block content

  h1 Books
  p
    a.button(href='/books/new') Create New Book
  form(action='/books', method='GET')
    label(for="query") Search by Title, Author, or Genre:
    input(type="text", name="q")
    button.btn.btn-success.ml-2 Search
  p
    | Filters 
    a(href='/books') All
    |  |
    a(href='/books?filter=overdue') Overdue
    |  |
    a(href='/books?filter=checked_out') Checked Out
  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year Released
    tbody
      each book in books
        tr
          td
            a(href='/books/' + book.id)= book.title
          td= book.author
          td= book.genre
          td= book.first_published
  p= "Total Books: " + totalBooks
  nav.mb-3(aria-label='Page navigation example')
  ul.pagination.justify-content-center
    - var n = 1;
      while n <= pages
        li.page-item
          - if(current == n)
            a.page-link.active(href="/books/?page=" + n)= n++
          - else 
            a.page-link(href="/books/?page=" + n)= n++
  
            
              
